package components

templ State(page templ.Component) {
	<html>
		<head>
			<script src="https://unpkg.com/htmx.org@1.9.10"></script>
			<style>
				* {
					margin: 0;
					padding: 0;
					box-sizing: border-box;
					overflow: hidden;
				}
			</style>
		</head>
		<body>
			@page
		</body>
	</html>
}
